{% extends "base.html" %}
{% csrf_token %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Login</h1>

  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    {% if error %}
      {{error}}
      <br>
    {% endif %}

    Username:
    <br>
    <input type="text" class="form-control" name="username" />
    <label for="username">Please enter a valid username</label>
    <br>
    Password:
    <br>
    <input type="password" class="form-control" name="password" />
    <br>
    <input type="submit" class="btn btn-primary"name="" value="Login">
  </form>

  <br>
  <br>


{% endblock %}
